/*
 * -------------------------------------------------
 *  mmannonf-test Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */


// Global default params, used in configs
params {

  // Workflow flags
  input = false
  hybridemode = true
  outdir = './results'
}


// Load base.config by default for all pipelines
//includeConfig 'conf/base.config'
profiles {
  slurm {
    process {
        executor = 'slurm'

        // Process specific configuration
          withLabel: seqkit {
            module = ['bioinfo/seqkit-v0.9.3']
            cpus = 1
            memory = { 4.GB * task.attempt }
          }
    }
  }
}
